amqp==5.1.1
backports.zoneinfo==0.2.1
billiard==4.1.0
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorlog==6.7.0
coverage==7.3.0
Django==1.11.29
django-dbconn-retry==0.1.7
djangorestframework==3.9.0
idna==3.4
kombu==5.3.1
memory-profiler==0.61.0
objgraph==3.6.0
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2==2.8.6
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
